<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/style.css" />
    <title>Глобальное потепление</title>
  </head>
  <body>
    <header>
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="header__nav main-nav">
            <img class="project__img" src="../static/img/free-png.ru-826.png" alt="project" width="100">
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#информация">общая информация</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#причины">причины</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#методы">методы борьбы</a>
          </li>
        </ul>
      </nav>
      <ul>
        <h1 class="header">Глобальное потепление</h1>
        <h1 class="header">  </h1>
      </ul>
    </header>
    <section class="main__about about" id="информация">
      <h2 class="about__title">ЧТО ТАКОЕ ГЛОБАЛЬНОЕ ПОТЕПЛЕНИЕ?</h2>
      <div>
        <p>
          Средние климатические показатели постоянно изменяются. Считается, что Земля уже потеплела
          на 1,2 градуса из-за промышленных выхлопов, которые еще называют парниковыми газами.
          Отсчет идет с 1880 года, то есть до промышленной революции. 
          И хоть кажется, что 1,2 градуса - это немного, но ученые еще четыре года назад говорили, 
          что повышение температуры на 1,1 градуса по дополнительному теплу
          и энергии равно четырем взрывам бомбы Хиросимы в секунду.
          С 1980-х годов каждое десятилетие было теплее предыдущего. 
          Вообще ученые говорят, что повышение температуры планеты до 2 градусов приведет к катастрофе: 
          будут проблемы с сельским хозяйством, умрет ряд животных, в общем, затронет потепление все экосистемы. 
          В разных частях планеты обострятся погодные аномалии, которые также отразятся на жизни людей. Ученые ожидают, что в некоторых частях света будет меньше дождей, 
          а в другой их станет больше, в третьей части осадков будет столько же, но будут они более сильными и кратковременными. Такие аномалии будут вызывать засуху и наводнения.
        </p>
        <img src="../static/img/tmb_44855_8830.jpg" width="700">
      </div>
    </section>
    <section class="main__about about" id="причины">
      <h2 class="about__title">КАКОВЫ ПРИЧИНЫ ГЛОБАЛЬНОГО ПОТЕПЛЕНИЯ?</h2>
      <div>
        <p>
          Парниковые газы были и до промышленности. Это извержения вулканов, лесные пожары и даже 
          дыхание живых организмов, то есть это нормальный процесс. С другой стороны - сейчас воздействие промышленности 
          настолько велико, что процесс пошел быстрее в десятки раз.
          Причины роста выбросов:
          Сжигание угля, нефти и газа
          Вырубка лесов
          Увеличение животноводства
          Выбросы закиси азота удобрениями
          Выделение фторированных газов оборудованием и продуктами
          Согласно Carbon Majors, 100 компаний были ответственны за 71% выхлопов 
          с 1988 года по 2015 год, сообщает The Guardian.
        </p>
        <p>Ещё больше информации про глобальное потепление в этом видео:</p>
        <video controls width="1000">
          <source src="../static/video/Глобальное потепление — надуманная проблема_  — Научпок.mp4" type="video/webm" />
        
          <source src="../static/video/Глобальное потепление — надуманная проблема_  — Научпок.mp4" type="video/mp4" />
      </div>
    </section>
    <section class="main__about about" id="методы">
      <h2 class="about__title">ЧТО ЖЕ С ЭТИМ ДЕЛАТЬ НАМ?</h2>
      <div>
        <p>
          Разные эксперты предлагают различные варианты экологизации: пересесть с машин на велосипеды, 
          перестать использовать одноразовую посуду, есть мясо и рожать. Последнее - не шутка. 
          Ученые действительно считают, что сокращение деторождения может быть одной из действенных мер. 
          Например, в Университете штата Орегон по итогам исследования выяснили, что каждый ребенок, 
          рожденный в США, добавит к вредным выбросам в атмосферу 9,4 тонны. Однако без детей на планете в 
          какой-то момент станет пусто, поэтому эксперты ООН по окружающей среде предлагают рожать дальше, 
          но:
          меньше летать,
          сокращать отходы,
          изолировать свое жилище,
          передвигаться пешком или на велосипеде,
          есть сезонные продукты,
          отключать электроприборы,
          носить одежду до последнего,
          говорить об экологизации с друзьями и на работе,
          переходить на возобновляемые источники энергии,
          использовать безналичную оплату,
          есть больше растительной пищи,
          ремонтировать вещи и давать им "вторую жизнь". Общая тенденция всех этих советов - использовать как можно энергии и ресурсов, и если каждый будет делать это, то мы сможем внести ощутимый вклад в экологию земли.
          Давайте спасём нашу планету вместе!
        </p>
        <img src="../static/img/1688607033_kartin-papik-pro-p-kartinki-ruki-derzhat-planetu-66.jpg" width="700">
      </div>
    </section>
      <section class="main__skills skills">
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <span class="skill__info">eng version</span>
              <input class="skill__button" type="submit" name="button_eng" value="switch to English version">
            </li>
          </ul>
        </form>
        {% if button_eng%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/558593.png" alt="project" width="50">
              <a class="project__link" href="eng.html">English</a>
          </div>
        {% endif %}
      </section>
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Комментарий"></textarea>
          </label>
          <button class="form__button" type="submit">ОТПРАВИТЬ</button>
        </form>
      </section>
    </main>
    <footer>
        <div id="sus" class="imgs">
          <img class="img12" src="../static/img/discord.png">
          <img class="img12" src="../static/img/telega.png">
          <img class="img12" src="../static/img/twitch.png">
          <img class="img12" src="../static/img/vk.png">
      </div>
      <ul class="texts">
        <li class="left"><a href="https://discord.gg/bSFDVuAA">discord</a></li>
        <li class="left"><a href="https://t.me/yas_iam64">telegram</a></li>
        <li class="right"><a href="https://www.twitch.tv/jotaro3351">twitch</a></li>
        <li class="right"><a href="https://vk.com/ne__impostor">Vkontakte</a></li>
      </ul>
    </footer>
  </body>
</html>